// Authenticated zone
:root {
  --auth-navbar-width: 240px;
  --aside-nav-height: 53px;
}

// Navbar
header.container-fluid.auth-navbar {
  top: 0;
  z-index: 1030;

  div.left {
    width: var(--auth-navbar-width);
    height: var(--aside-nav-height);
    z-index: 1040;

    img.logo {
      width: 150px;
    }
  }

  div.right {
    width: calc(100%);
    // width: calc(100% - var(--auth-navbar-width));
    flex: 0 0 calc(100%);
    // flex: 0 0 calc(100% - var(--auth-navbar-width));

    #navbarSupportedContent {
      margin-left: 200px;
    }
  }
}

aside.nav {
  height: calc(100vh - var(--aside-nav-height));
  width: var(--auth-navbar-width);
  top: var(--aside-nav-height);
  overflow-y: auto;
  z-index: 1030;

  .backdrop {
    z-index: 1029;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  }
}

main.auth-zone {
  margin-left: var(--auth-navbar-width);
  margin-top: var(--aside-nav-height);
}

#accordionExample {
  h5 {
    img {
      height: 2rem;
    }
  }
}

@media (max-width: 991.98px) {
  main.auth-zone {
    margin-left: 0;
  }

  #navbarSupportedContent {
    margin-left: 0px !important;
  }
}